body {
    background-color: #990000;
    font-family: arial, helvetica, sans-serif;
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
    color: #990000;
    font-size: 18px;
}

.title {
    font-size: 25px
}

.contenedor {
    width: 1500px;
    margin: auto;
    position: relative;
    height: 40%;
    background-color: white;
    padding: 30px;
}

h2 {
    font-size: 17px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 15px;
}

h4, h5, h6 {
    font-size: 14px;
}

p {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
}

ol {
    list-style: none;
    padding-left: 0;
}
